<li class="nav-dropdown-container backend">
    <a class="nav-link<%- page.path.match(/\/(backend(?!\/team.html$)|node|MongoDB)(\/|$)/) ? ' current' : '' %>">服务端</a
    ><span class="arrow"></span>
    <ul class="nav-dropdown">
        <li>
            <ul>
                 <li><a href="<%- url_for("/backend/node/") %>" class="nav-link<%- page.path.match(/\/node(\/|$)/) ? ' current' : '' %>">node</a></li>
                 <li><a href="<%- url_for("/backend/MongoDB/") %>" class="nav-link<%- page.path.match(/\/git(\/|$)/) ? ' current' : '' %>">MongoDB</a></li>
                 
            </ul>
        </li>
    </ul>
</li>
