<li>
    <form id="search-form">
        <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input" aria-label="搜索" />
    </form>
</li>
<%- partial('partials/learn_dropdown') %> <%- partial('partials/framework') %> <%- partial('partials/resources_dropdown') %> <%-
partial('partials/tool') %>
<!-- <li>
    <a href="/eol/" class="badge-parent">终止支持 (EOL)<sup class="badge">新</sup></a>
</li> -->
